{% extends "base.html" %}

{% block content %}
<style>
  .book-item {
    margin-bottom: 20px; /* Отступ между книгами */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .book-item img {
    display: block;
    margin-bottom: 10px; /* Отступ между изображением и текстом */
  }

  .book-item h2 {
    margin-bottom: 10px; /* Отступ между заголовком и текстом */
  }

  .book-item div {
    margin-bottom: 5px; /* Отступ между строками текста */
  }
</style>

<h1>Выберите интересующую Вас книгу</h1>
<table>
  <tbody>
    <tr>
      {% for item in news %}
      <td class='text-center book-item'>
        <img
          src="{{ url_for('static', filename=item.face) }}"
          width="380"
          height="550"
          alt="{{ item.title }}"
        />
        <h2>{{ item.title }}</h2>
        <div>{{ item.content }}</div>
        <div>Автор - {{ item.user.name }}</div>
        <div>Дата написания - {{ item.created_date }}</div>
        <div>
          <a class="btn btn-secondary" style="color: aquamarine">
            Открыть страницу
          </a>
        </div>
      </td>
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}