{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<h1>Выберите книгу</h1>
<table>
  <tbody>
    <tr>
      {% for item in news %}
      <td class='book-item'>
        <img
          src = "{{url_for('news_api.static', filename=item.image_path)}}"
          width="380"
          height="550"
          alt="{{ item.title }}"
        />

        <h2>{{ item.title }}</h2>
        <div>{{ item.content }}</div>
        <div>Автор - {{ item.user.name }}</div>
        <div>Дата написания - {{ item.created_date }}</div>
        <div>
          <a href="{{ url_for('book_detail', id=item.id) }}" class="btn btn-secondary" style="color: aquamarine">
            Открыть страницу
          </a>
        </div>
      </td>
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}